<div class="container">
  <div class="row">
    <div class="col">
      <form name="form" #roleform="ngForm" (ngSubmit)="SaveRole(role)">
        <div class="card border border-primary">
          <div class="card-header text-white bg-secondary">
            <i class="fa fa-user fa-fw"></i>&nbsp;Add Role
          </div>
          <div class="card-body text-primary mt-0">
            <div class="row mb-2">
              <div class="col form-group" [class.was-validated]="roleName.errors?.required  && roleName.touched">
                <label for="roleName" class="font-weight-bold col-form-label">Role Name :</label>
                <input type="text" Id="roleName" name="roleName" class="form-control" [(ngModel)]="role.roleName"
                  #roleName="ngModel" required placeholder="Enter Role Name">
                <span class="invalid-feedback" *ngIf="roleName.errors?.required && roleName.touched">
                  Role Name is required.
                </span>
                <span class="font-weight-bold" [class.text-success]="responseMessage.isSuccess"
                  [class.text-danger]="!responseMessage.isSuccess" *ngIf="responseMessage ">
                  {{responseMessage.message}}
                </span>
              </div>
            </div>
            <div class="row" *ngFor="let parentMenu of role.menuList | menuFilter : 0">
              <div class="col form-group">
                <div class="row">
                  <div class="col form-group">
                    <div class="form-check form-check-inline">
                      <!-- <input class="form-check-input" style="margin-top: 1px" type="checkbox"
                        (change)="onStatusChange(parentMenu.parentMenuId, $event.target.checked)"
                        *ngIf="parentMenu.parentMenuId==0" name="{{ parentMenu.menuTitle }}"
                        id="{{ parentMenu.menuTitle }}"> -->
                      <label class="form-check-label font-weight-bold" style="margin-top: 1px" for="{{ parentMenu.menuTitle }}">
                        {{parentMenu.menuTitle}}</label>
                    </div>
                  </div>
                </div>
                <div class="row" >
                  <div class="col form-group" *ngFor="let childMenu of role.menuList | menuFilter : parentMenu.id">
                      <div class="form-check form-check-inline ml-4">
                    <input class="form-check-input" style="margin-top: 1px" type="checkbox"
                    [checked]="getChecked(childMenu.id,childMenu.parentMenuId)"
                      (change)="onStatusChange(role.id,parentMenu.parentMenuId,childMenu.parentMenuId,childMenu.id, $event.target.checked)"
                      name="{{ childMenu.menuTitle }}" id="{{ childMenu.menuTitle }}">
                    <label class="form-check-label" style="margin-top: 1px" for="{{ childMenu.menuTitle }}">
                      {{childMenu.menuTitle}}</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
           
          </div>
       
        <div class="card-footer text-right">

          <button [style.visibility]="isSaveDisplay" type="submit" [disabled]="!roleform.form.valid"
            [ngClass]="!roleform.form.valid ? 'btn-disabled' : 'btn-primary'" class="btn btn-primary mr-1 m-1 btn-sm"><i
              class="fa fa-save fa-fw"></i>
            {{role.id == 0 ? "Save" : "Update"}}</button>
          <button type="button" (click)="resetForm()" class="btn btn-primary m-1 btn-sm"><i
              class="fa fa-close fa-fw"></i>&nbsp;Cancel</button>
        </div>
      </div>
      </form>
    </div>
   


  <div class="col">
    <div class="card">
      <div class="card-header text-white bg-secondary">
        <i class="fa fa-user fa-fw"></i>&nbsp;List Vendor
      </div>
      <div class="card-body border border-primary">
        <div class="row">
          <div class="col" style="overflow: hidden;">
            <ag-grid-angular style='width: 100%; height: 370px;' class="ag-theme-balham" id="gridApi"
              [enableSorting]="true" [enableFilter]="true" [rowData]="rowData | async" [pagination]="true"
              [paginationPageSize]='this.paginationPageSize' [paginationNumberFormatter]='paginationNumberFormatter'
              [columnDefs]="columnDefs" [animateRows]="true" (rowClicked)="onRowClicked($event)"
              (gridReady)="onGridReady($event)">
            </ag-grid-angular>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
