.form-group {
  margin-bottom: 0.04rem;
}
.form-control {
  border-color: #97999b;
  height: calc(1.75rem + 2px);
  padding: 0.175rem 1.5rem 0.175rem 0.75rem;
}
.text-primary {
  color: #7a7b7e!important;
}
.col-form-label {
  padding-top: calc(.001rem + 1px);
  padding-bottom: calc(.001rem + 1px);
}
textarea.form-control{
  height: calc(3.75rem + 2px)!important;
  padding: 0.375rem 1.5rem 0.375rem 0.75rem;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color:  rgba(49, 46, 46, 0.61);
  opacity: 1; /* Firefox */
  font-size:0.8rem;
}
.border-primary{
  border-color:#7a7b7e!important;
}
.card-body {
  padding: 0.5rem;
}
.card-header {
  padding: .35rem 0.35rem;
  margin-bottom: 0px;
}
.card-footer {
  padding: 0.1rem 0.1rem;
  margin-bottom: 0px;
}

.font-weight-bold {
  font-weight: normal;
  font-size: 0.8rem;
  
}

.custom-select{
  height: calc(1.75rem + 2px);
  padding: 0.175rem 1.5rem 0.175rem 0.75rem;
  border: 1px solid #97999b;
  color :rgba(49, 46, 46, 0.61);
  font-size: 0.8rem;
}
.btn-primary {
  color: #fff;
  background-color: rgba(73, 68, 68, 0.705);
  border-color: rgba(73, 68, 68, 0.705);
}

.btn-primary:hover {
  color: #fff;
  background-color: rgba(24, 16, 16, 0.877);
  border-color: rgba(15, 11, 11, 0.774);
}
.modal-width {
width: 400px;
}
