<div class="container">
    <div class="row">
      <div class="col">
  <form>
    <div class="card border border-primary">
                <div class="card-header font-weight-bold  text-white bg-secondary">
        <i class="fa fa-database fa-fw"></i>&nbsp;Search Asset Gate Pass
    </div>

    <div class="card-body text-primary">
        <div class="row">
          <div class="col form-group">
              <label for="assetTagId" class="col-form-label font-weight-bold">Asset Tag ID :</label>
            <input type="text" Id="assetTagId" class="form-control" placeholder="Enter Asset Tag ID">
          </div>
          <div class="col form-group">
            <label for="assetCategory" class="col-form-label font-weight-bold">Asset Category :</label>
            <select class="custom-select" id="assetCategory">
                <option selected>Select Asset Category.</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>
          <!-- <input type="text" Id="assetCategory" class="form-control" placeholder="Asset Category"> -->
        </div>
        <div class="col form-group">
            <label for="assetName" class="col-form-label font-weight-bold">Asset Name :</label>
          <input type="text" Id="assetName" class="form-control" placeholder="Asset Name">
        </div>
          </div>
          <div class="row">
            <div class="col-6 form-group">
                <label for="purchasetodate" class="col-form-label font-weight-bold">Purchase Date :</label>
            </div>
            <div class="col-6 form-group">
                <label for="warrantyexpiretodate" class="col-form-label font-weight-bold">Warranty Expire Date :</label>
            </div>
          </div>
        <div class="row">
           <div class="col-3 form-group">
              <input type="text" Id="gptodate" class="form-control" placeholder="Enter Purchase To Date">
            </div>
            <div class="col-3 form-group">
                <input type="text" Id="gpfromdate" class="form-control" placeholder="Enter Purchase From Date">
            </div>
            <div class="col-3 form-group">
                <input type="text" Id="gptodate" class="form-control" placeholder="To Date">
              </div>
              <div class="col-3 form-group">
                  <input type="text" Id="gpfromdate" class="form-control" placeholder="From Date">
              </div>
        </div>
     </div>
     <div class="card-footer">
            <div class="row">
               <div class="col form-group text-left text-primary">
                       <label for="pagesize" class="m-1 font-weight-bold">Page Size :</label>
                      <select class="m-2" (change)="onPageSizeChanged()" id="page-size">
                           <option value="10" selected="">10</option>
                           <option value="50">50</option>
                           <option value="100">100</option>
                           <option value="200">200</option>
                       </select>
                   </div>
           <div class="col text-right">
               <button type="button" class="btn btn-primary mr-1 m-1  btn-sm font-weight-bold"><i class="fa fa-save fa-fw"></i>&nbsp;Search</button>
               <button type="button" class="btn btn-primary  btn-sm m-1 font-weight-bold"><i class="fa fa-close fa-fw"></i>&nbsp;Cancel</button>
           </div>
       </div>
        </div>
  </div>
  </form>
  </div>
  </div>

  <div class="row mt-3">
      <div class="col" style=" overflow: hidden;">

           <ag-grid-angular  style='width: 100%; height: 370px;'
            class="ag-theme-balham" [enableSorting]="true" [enableFilter]="true"
            [rowData]="rowData | async" [pagination]="true" [paginationPageSize]= 'paginationPageSize'
            [paginationNumberFormatter]= 'paginationNumberFormatter'
            [columnDefs]="columnDefs" (rowClicked)="onRowClicked($event)" id="gridApi"
            (gridReady)="onGridReady($event)">
        </ag-grid-angular>
      </div>
    </div>
  </div>

  <ng-template #template>
      <div class="modal-dialog modal-lg">
      <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">View / Add Asset</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body modal-lg">
          <div class="card-body text-primary">
              <div class="row">
                <div class="col form-group">
                  <label for="assetTagId" class="col-form-label font-weight-bold">Tag ID :</label>
                  <input type="text" Id="assetTagId" class="form-control"  [ngModel]="assetData.assetTagId">
                </div>
                <div class="col form-group">
                  <label for="assetName" class="col-form-label font-weight-bold">Asset Category :</label>
                  <input type="text" Id="assetName" class="form-control" [ngModel]="assetData.assetName">
              </div>
              <div class="col form-group">
                  <label for="assetName" class="col-form-label font-weight-bold">Asset Name :</label>
                <input type="text" Id="assetame" class="form-control" placeholder="Asset Name">
              </div>
                </div>
                <div class="row">
                  <div class="col-6 form-group">
                      <label for="purchasetodate" class="col-form-label font-weight-bold">Purchase Date :</label>
                  </div>
                  <div class="col-6 form-group">
                      <label for="warrantyexpiretodate" class="col-form-label font-weight-bold">Warranty Expire Date :</label>
                  </div>
                </div>
              <div class="row">
                 <div class="col-3 form-group">
                    <input type="text" Id="gptodate" class="form-control" placeholder="Enter Purchase To Date">
                  </div>
                  <div class="col-3 form-group">
                      <input type="text" Id="gpfromdate" class="form-control" placeholder="Enter Purchase From Date">
                  </div>
                  <div class="col-3 form-group">
                      <input type="text" Id="gptodate" class="form-control" placeholder="To Date">
                    </div>
                    <div class="col-3 form-group">
                        <input type="text" Id="gpfromdate" class="form-control" placeholder="From Date">
                    </div>
              </div>
           </div>
           <div class="card-footer">
                  <div class="row">
                 <div class="col text-right">
                     <button type="button" class="btn btn-primary mr-1 m-1  btn-sm font-weight-bold"><i class="fa fa-save fa-fw"></i>&nbsp;Search</button>
                     <button type="button" class="btn btn-primary  btn-sm m-1 font-weight-bold" (click)="modalRef.hide()"><i class="fa fa-close fa-fw"></i>&nbsp;Cancel</button>
                 </div>
             </div>
              </div>
        </div>
        </div>
        </div>
    </ng-template>
