<tabset [justified]="true">
  <tab heading="Company">
    <div class="row">&nbsp;</div>
    <div class="tab-content">
    <app-company></app-company>
  </div>
  </tab>
  <tab heading="Department">
      <div class="row">&nbsp;</div>
      <div class="tab-content">
        <app-department></app-department>
      </div>
   </tab>
  <tab heading="Category">
      <div class="row">&nbsp;</div>
      <div class="tab-content">
        <app-asset-category></app-asset-category>
      </div>
      </tab>
</tabset>
