<div class="container">
  <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link " data-toggle="tab" href="#company">Company</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" data-toggle="tab"   href="#department">Department</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab"  href="#assetCategory">Category</a>
      </li>
    </ul>
  
    <!-- Tab panes -->
    <div class="tab-content">
      <div class="tab-pane fade" id="company"><app-company></app-company></div>
      <div class="tab-pane fade" id="department"><app-department></app-department></div>
      <div class="tab-pane active" id="assetCategory"><app-asset-category></app-asset-category></div>
    </div>
  </div>
  