<div class="container">
  <form  name="form" #assetForm="ngForm"  (ngSubmit) = "SaveAsset(assetData)">
<div class="card border border-primary" *ngIf="assetData" >
<div class="card-header font-weight-bold  text-white bg-secondary">
    <i class="fa fa-database fa-fw"></i>&nbsp;Add Asset
</div>

<div class="card-body text-primary">

    <div class="row">
      <div class="col form-group" [class.was-validated]="assetTagId.errors?.required  && assetTagId.touched">
          <label for="assetTagId" class="control-label col-form-label font-weight-bold">Asset Tag Id :</label>
        <input type="text" Id="assetTagId" required class="form-control" 
        placeholder="Asset Tag Id" name="assetTagId"  [(ngModel)]="assetData.AssetTagId" #assetTagId="ngModel">
        <span class="invalid-feedback"  *ngIf="assetTagId.errors?.required && assetTagId.touched" >
                Asset Tag Id is required.
              </span>
    </div>
      <div class="col form-group" [class.was-validated]="assetCategory.errors?.required  && assetCategory.touched">
          <label for="assetCategory" class="col-form-label font-weight-bold">Asset Category :</label>
          <select class="custom-select" id="assetCategory" name="assetCategory" #assetCategory="ngModel"
           [(ngModel)]="assetData.AssetCategoryId" required>
              <option value="0" selected>Select Asset Category.</option>
              <!-- <option *ngFor="let assetCat of assetCategory" [value]="assetCat.Id">{{assetCat.CategoryName}}</option> -->
              <option *ngFor="let assetCat of asset_category" [value]="assetCat.Id" >
                    {{assetCat.CategoryName}}
                  </option>
            </select>
            <span class="invalid-feedback"  *ngIf="assetCategory.errors?.required && assetCategory.touched" >
                    Asset Category is required.
                  </span>
       
      </div>
      <div class="col form-group" [class.was-validated]="assetName.errors?.required  && assetName.touched">
          <label for="assetName" class="col-form-label font-weight-bold">Asset Name :</label>
        <input type="text" Id="assetName" name="assetName" [(ngModel)]="assetData.AssetName" #assetName="ngModel"
         class="form-control" placeholder="Asset Name" required>
         <span class="invalid-feedback"  *ngIf="assetName.errors?.required && assetName.touched" >
                Asset Name is required.
              </span>
      </div>
    </div>
    <div class="row mb-0">
      <div class="col form-group" [class.was-validated]="assetName.errors?.required  && assetName.touched">
          <label for="assetDesc" class="col-form-label font-weight-bold">Asset Description :</label>
          <textarea Id="assetDesc" name="assetDesc" [(ngModel)]="assetData.AssetDescription" #assetDesc="ngModel"
           class="form-control" placeholder="Asset Description" rows=2 maxlength="300"></textarea>
          <span class="invalid-feedback"  *ngIf="assetDesc.errors?.maxlength && assetDesc.touched" >
                Asset Description should not be more than 300 characters.
              </span>
        </div>
    </div>
    <div class="row">
            <div class="col form-group" [class.was-validated]="assetBrand.errors?.maxlength  && assetBrand.touched">
            <label for="assetBrand" class="col-form-label font-weight-bold">Brand Name :</label>
            <input type="text" Id="assetBrand" name="assetBrand" 
            [(ngModel)]="assetData.AssetDetail[0].BrandName" #assetBrand="ngModel"
            class="form-control" placeholder="Asset Brand Name" maxlength=100>
            <span class="invalid-feedback"  *ngIf="assetBrand.errors?.maxlength && assetBrand.touched" >
                    Brand Name should not be more than 100 characters.
                  </span>
            </div>
           
      <div class="col form-group" [class.was-validated]="assetModel.errors?.maxlength  && assetModel.touched">
          <label for="assetModel" class="col-form-label font-weight-bold">Model No :</label>
          <input type="text" Id="assetModel" name="assetModel" 
          [(ngModel)]="assetData.AssetDetail[0].ModelNumber" #assetModel="ngModel"
          class="form-control" placeholder="Asset Model Number" maxlength="100">
          <span class="invalid-feedback"  *ngIf="assetModel.errors?.maxlength && assetModel.touched" >
                Model No. should not be more than 100 characters.
              </span>
        </div>
     
      <div class="col form-group" [class.was-validated]="assetSerial.errors?.maxlength  && assetSerial.touched">
          <label for="assetSerial" class="col-form-label font-weight-bold">Serail No :</label>
          <input type="text" Id="assetSerial" name="assetSerial" 
          [(ngModel)]="assetData.AssetDetail[0].SerialNumber" #assetSerial="ngModel"
          class="form-control" placeholder="Asset Serial Number" maxlength="100">
          <span class="invalid-feedback"  *ngIf="assetSerial.errors?.maxlength && assetSerial.touched" >
                Serail No. should not be more than 100 characters.
          </span>
      </div>
    </div>
    <div class="row">
      <div class="col form-group">
            <label for="assetVendor" class="col-form-label font-weight-bold">Purchase From / Vendor Name :</label>
            <select class="custom-select" id="assetVendor" name="assetVendor" #assetVendor="ngModel"
            [(ngModel)]="assetData.AssetDetail[0].VendorId" >
               <option value="0" selected>Select Vendor.</option>
               <!-- <option *ngFor="let assetCat of assetCategory" [value]="assetCat.Id">{{assetCat.CategoryName}}</option> -->
               <option *ngFor="let assetVend of asset_Vendor" [value]="assetVend.Id" >
                     {{assetVend.VendorName}}
                   </option>
             </select>
          <!-- <input type="text" Id="purchaseFrom" class="form-control" placeholder="Purchase From"> -->
      </div>
      <div class="col form-group">
          <label for="purchaseDate" class="col-form-label font-weight-bold">Purchase Date :</label>
          <input id="purchaseDate" name="purchaseDate" type="text" [(ngModel)]="assetData.AssetDetail[0].PurchaseDate" 
          #purchaseDate="ngModel" bsDatepicker [bsConfig]="datePickerConfig" class="form-control"
          placeholder="Purchase Date" />
      </div>
      <div class="col form-group" [class.was-validated]="(assetCost.errors?.required || assetCost.errors?.pattern)  && assetCost.touched">
          <label for="assetCost" class="col-form-label font-weight-bold">Asset Cost :</label>
          <input type="text" Id="assetCost" name="assetCost"
          [(ngModel)]="assetData.AssetDetail[0].Cost" #assetCost="ngModel"
           class="form-control" placeholder="Asset Cost" 
            required pattern="^(?:[0-9]+(?:\.[0-9]{0,2})?)?$">
            <span class="invalid-feedback"  *ngIf="assetCost.errors?.required && assetCost.touched" >
                    Asset Cost is Required.
            </span>
            <span class="invalid-feedback"  *ngIf="assetCost.errors?.pattern && assetCost.touched" >
                    Please enter  valid Asset Cost.
            </span>
          
      </div>
    </div>
    <div class="row">
            <div class="col form-group">
                    <label for="warrantyExpiryDate" class="col-form-label font-weight-bold">Warranty Expiry Date :</label>
                    <input id="warrantyExpiryDate" name="warrantyExpiryDate" type="text" [(ngModel)]="assetData.AssetDetail[0].WarrantyExpireDate"
                    #warrantyExpiryDate="ngModel"
                    bsDatepicker [bsConfig]="datePickerConfig" placeholder="Warrenty Expiry Date" class="form-control" />
                </div>
      <div class="col form-group">
          <label for="warrantyDocument" class="col-form-label font-weight-bold">Warranty Document :</label>
          <div class="custom-file">
              <input type="file" #fileUpload  (change)="fileChangeEvent($event)" class="custom-file-input" id="warrentyDocument">
              <label class="custom-file-label" for="warrantyDocument">Browse Warranty Document</label>
            </div>
      </div>
      <div class="col form-group">
          <label for="assetImage" class="col-form-label font-weight-bold">Asset Image :</label>
          <div class="custom-file">
              <input type="file" #fileUpload  (change)="fileChangeEvent($event)" class="custom-file-input" id="assetImage">
              <label class="custom-file-label text-primary" for="assetImage">Browse Asset Image</label>
            </div>
      </div>
      <!-- <div class="col form-group">
          <img>
      </div> -->
    </div>
</div>
<div class="card-footer text-right">
{{assetForm.form.valid}}
       <button type="submit" [disabled]="!assetForm.form.valid" [ngClass]="!assetForm.form.valid ? 'btn-disabled' : 'btn-primary'"  class="btn  mr-1 m-1  btn-sm"><i class="fa fa-save fa-fw"></i>&nbsp;Save</button>
  <button type="button" class="btn btn-primary mr-2 m-1 btn-sm "><i class="fa fa-close fa-fw"></i>&nbsp;Cancel</button>
</div>

</div>
</form>
</div>
