<div>
  <div class="row">
    <div class="col-md-5">
    <form>
        <div class="card border border-primary">
            <div class="card-header font-weight-bold  text-white bg-primary">
          <i class="fa fa-user fa-fw"></i>&nbsp;Add Asset Category
      </div>
      <div class="card-body text-primary mt-0">
          <div class="row">
              <div class="col form-group">
              <label for="assetCategory" class="font-weight-bold col-form-label">Category Name :</label>
              <input type="text" Id="assetCategory" class="form-control" placeholder="Enter Asset Category Name">
              </div>
            </div>
      </div>
      <div class="card-footer text-right">
        <button type="button" class="btn btn-primary mr-1 m-1 btn-sm font-weight-bold"><i class="fa fa-save fa-fw"></i>&nbsp;Save</button>
        <button type="button" class="btn btn-primary m-1 btn-sm font-weight-bold"><i class="fa fa-close fa-fw"></i>&nbsp;Cancel</button>
      </div>

    </div>
    </form>
  </div>

    <div class="col-md-7">
        <div class="card">
            <div class="card-header font-weight-bold text-white bg-primary">
                <i class="fa fa-user fa-fw"></i>&nbsp;List Asset Category
            </div>
      <div class="card-body border border-primary">
          <table class="table table-bordered table-md text-primary">
              <thead>
                <th >Asset Category Name</th>
                <th></th>
              </thead>
            <tbody>
              <tr>
                <td>Laptop</td>
                <td class="text-center"> <a href="#"><i class="fa fa-pencil-square-o fa-fw"></i></a> |
                  <a href="#"><i class="fa fa-trash-o fa-fw"></i></a></td>
                  <td>Electronics</td>
                  <td class="text-center"> <a href="#"><i class="fa fa-pencil-square-o fa-fw"></i></a> |
                    <a href="#"><i class="fa fa-trash-o fa-fw"></i></a></td>
              </tr>
            </tbody>
          </table>
  </div>
   </div>
  </div>
</div>


