<app-header *ngIf="userRoleData" [appUserData]="userData"></app-header>
<app-sidebar *ngIf="userRoleData" [appUserRoleData]="userRoleData" (collapsedEvent)="receiveCollapsed($event)"></app-sidebar>

<section class="main-container" [ngClass]="{collapsed: collapsedSideBar}">
  <router-outlet></router-outlet>
  <ngx-loading [show]="loading" [config]="{primaryColour: primaryColour, secondaryColour: secondaryColour, tertiaryColour: primaryColour, backdropBorderRadius: '3px'}" 
    [template]="loadingTemplate"></ngx-loading>
</section>
