<div class="container">
    <div class="row">
      <div class="col-md-5">
  <form>
  <div class="card border border-primary">
    <div class="card-header font-weight-bold text-white bg-primary">
        <i class="fa fa-user fa-fw"></i>&nbsp;Add User
    </div>
  
    <div class="card-body text-primary">
        <div class="row">
            <div class="col form-group">
            <label for="title" class="font-weight-bold  col-form-label">Title :</label>
            <select class="custom-select" id="title" >
              <option selected>Select Title.</option>
              <option value="1">Mr.</option>
              <option value="2">Mrs.</option>
  
            </select>
          </div>
        </div>
        <div class="row">
            <div class="col form-group">
            <label for="firstName" class="font-weight-bold  col-form-label">First Name :</label>
              <input type="text" Id="firstName" class="form-control" placeholder="Enter Fisrt Name">
          </div>
        </div>
        <div class="row">
            <div class="col form-group">
            <label for="lastName" class="font-weight-bold  col-form-label">Last Name :</label>
             <input type="text" Id="lastName" class="form-control" placeholder="Enter Last Name">
          </div>
        </div>
        <div class="row">
            <div class="col form-group">
            <label for="employeeId" class="font-weight-bold  col-form-label">Employee Id :</label>
              <input type="text" Id="employeeId" class="form-control" placeholder="Enter Employee ID">
          </div>
        </div>
        <div class="row">
            <div class="col form-group">
            <label for="phoneno" class="font-weight-bold  col-form-label">Phone No. :</label>
            <input type="text" Id="phoneno" class="form-control" placeholder="Enter Phone Number">
          </div>
        </div>
        <div class="row">
            <div class="col form-group">
            <label for="email" class="font-weight-bold  col-form-label">Email :</label>
            <input type="text" Id="email" class="form-control" placeholder="Enter Email Address">
          </div>
        </div>
        <div class="row">
            <div class="col form-group">
            <label for="department" class="font-weight-bold  col-form-label">Department :</label>
            <select class="custom-select" id="department">
                  <option selected>Select Department.</option>
                  <option value="1">Admin</option>
                  <option value="2">Human Resource</option>
                  <option value="3">Finance</option>
                </select>
          </div>
        </div>
        <div class="row">
            <div class="col form-group">
            <label for="role" class="font-weight-bold  col-form-label">Role :</label>
              <select class="custom-select" id="role">
                  <option selected>Select Role.</option>
                  <option value="1">Super Admin</option>
                  <option value="1">Admin</option>
                  <option value="2">User</option>
                  <option value="3">Gate Man</option>
                </select>
          </div>
        </div>
    </div>
    <div class="card-footer text-right">
           <button type="button" class="btn btn-primary mr-1 m-1 btn-sm font-weight-bold"><i class="fa fa-save fa-fw"></i>&nbsp;Save</button>
          <button type="button" class="btn btn-primary m-1 btn-sm font-weight-bold"><i class="fa fa-close fa-fw"></i>&nbsp;Cancel</button>
    </div>
  
  </div>
  </form>
  </div>
  <div class="col-md-7">
      <div class="card border border-primary">
          <div class="card-header font-weight-bold  text-white bg-primary">
              <i class="fa fa-users fa-fw"></i>&nbsp; User List
          </div>
          <div class="card-body ">
              <table class="table table-bordered table-md text-primary">
                  <thead>
                    <th >Name</th>
                    <th>Emp Id</th>
                    <th>Phone</th>
  
                    <th>Role</th>
                    <th></th>
                  </thead>
                <tbody>
                  <tr>
                    <td>Mr. Vishal Tyagi</td>
                    <td>1234456</td>
                    <td>98998100</td>
                    <td>Super Admin</td>
                    <td class="text-center"> <a href="#"><i class="fa fa-pencil-square-o fa-fw"></i></a> |
                      <a href="#"><i class="fa fa-trash-o fa-fw"></i></a></td>
  
  
                  </tr>
                </tbody>
              </table>
  
          </div>
  
      </div>
  </div>
  
  </div>
  </div>
  