<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive, collapsed: collapsed}">
    <div class="toggle-button" [ngClass]="{collapsed: collapsed}" (click)="toggleCollapsed()">
        <i class="fa fa-fw fa-angle-double-left"></i>&nbsp;
        <span>{{ ''  }}</span>
    </div>

  <div class="list-group">
      <a routerLink="/dashboard" [routerLinkActive]="['router-link-active']" class="list-group-item">
          <i class="fa fa-fw fa-dashboard"></i>&nbsp;
          <span>{{ 'Dashboard'  }}</span>
      </a>
      <div *ngIf="appUserRoleData">
      <div class="nested-menu" *ngFor="let parentMenu of appUserRoleData.menuList | menuFilter : 0">
          <a class="list-group-item" *ngIf="parentMenu.parentMenuId==0" (click)="addExpandClass(parentMenu.tag)">
              <i class="fa fa-cog fa-spin fa-fw"></i>&nbsp;
              <span>{{ parentMenu.menuTitle  }} </span>&nbsp;
          </a>
         
          <li class="nested" *ngIf="parentMenu.parentMenuId==0" [class.expand]="showMenu === parentMenu.tag">
              <ul class="submenu ">
                  <li *ngFor="let childMenu of appUserRoleData.menuList | menuFilter : parentMenu.id "  >
                    <a *ngIf="parentMenu.id==childMenu.parentMenuId" [routerLink]="childMenu.menuLink" [routerLinkActive]="['router-link-active']" class="list-group-item">
                      <i class="fa fa-cube"></i>&nbsp;
                          <span>{{ childMenu.menuTitle  }} </span>
                      </a>
                  </li>                 
              </ul>
          </li>
      </div>
    </div>
      <a [routerLink]="['/blank']" [routerLinkActive]="['router-link-active']" class="list-group-item">
          <i class="fa fa-file-o"></i>&nbsp;
          <span>{{ 'Blank Page'  }}</span>
      </a>
  </div>

</nav>
