<div class="container">
  <div class="modal-header">
    <h5 class="modal-title pull-left">View Gate Pass</h5>
    <button type="button" class="close pull-right" aria-label="Close" (click)="closeForm()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body text-primary mb-3" id="contentToConvert">
    <div class="row">
      <div class="col form-group text-left">

        <img src="../assets/images/companyLogo.png" class="imageClass">
      </div>
      <div class="col form-group text-right">
        <div class="card text-center mt-0">
          <div class="card-body">
            <h5 class="card-title mb-1">{{gatePassData.company.companyName}}</h5>
            <h6 class="card-subtitle mt-1">{{gatePassData.company.address1}}</h6>
            <p class="card-text mb-0 mt-0"> {{gatePassData.company.phone }}</p>
            <p class="card-text mb-0 mt-0"> {{ gatePassData.company.email}}</p>
            <a href="#" class="card-link"> {{gatePassData.company.webSiteUrl}}</a>

          </div>
        </div>
      </div>
      <div class="col form-group text-right">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Date : {{gatePassData.gatePassDate | date: 'dd/MM/yyyy'}} </h5>
            <h6 class="card-subtitle mb-1 mt-1">Gate Pass No : {{gatePassData.gatePassNo}}</h6>
            <p class="card-text mb-0 mt-0">Status : {{gatePassData.gatePassStatus.statusName}}</p>
            <p class="card-text mb-0 mt-0">Type : {{ gatePassData.gatePassType.typeName}}</p>
            <p class="card-text mb-0 mt-0">Prepared By : {{gatePassData.createdByNavigation.firstName + ',' +
              gatePassData.createdByNavigation.firstName}}</p>
            <p class="card-text mb-0 mt-0">Received By : {{gatePassData.receivedByNavigation.firstName + ' ' +
              gatePassData.receivedByNavigation.lastName}}</p>

          </div>
        </div>
      </div>

    </div>
    <div class="row mt-3 mb-2">
      <div class="col form-group">
        <div class="card text-left mt-0">
          <div class="card-body">
            <h6 class="card-title">Send Address Detail : </h6>
            <p class="card-text"> {{gatePassData.assetGatePassSenderDetail[0].name +
              ',' + gatePassData.assetGatePassSenderDetail[0].companyName +
              ',' + gatePassData.assetGatePassSenderDetail[0].address +
              ',' + gatePassData.assetGatePassSenderDetail[0].phone +
              ',' + gatePassData.assetGatePassSenderDetail[0]?.email}}</p>

          </div>
        </div>
      </div>
    </div>
    <div class="row mb-2" *ngIf="!isPDFDownload">
      <div class="col form-group text-left">
        <button type="button" class="btn btn-primary btn-sm mr-2"><i class="fa fa-save fa-fw"></i>&nbsp;Print</button>
        <button type="button" (click)="pdfDownload()" class="btn btn-primary btn-sm"><i
            class="fa fa-close fa-fw"></i>&nbsp;PDF</button>
      </div>
      <div class="col form-group text-right">
          <span class="font-weight-bold" [class.text-success]="responseMessage.isSuccess" [class.text-danger]="!responseMessage.isSuccess"
                *ngIf="responseMessage">
                {{responseMessage.message}}
              </span>
        <button type="button" *ngIf="gatePassData.gatePassStatus.statusName=='Pending'"  (click)="openModalforApproveReject('Approved',template)" class="btn btn-primary btn-sm mr-2" style="width: 6.3rem"><i
            class="fa fa-close fa-fw"></i>&nbsp;Approve</button>
        <button type="buton" *ngIf="gatePassData.gatePassStatus.statusName=='Pending'"  (click)="openModalforApproveReject('Reject',template)" class="btn btn-primary btn-sm"><i class="fa fa-save fa-fw"></i>&nbsp;Reject</button>
      </div>
  </div>
  <div class="row">
    <div class="col form-group">
      <table class="table table-bordered table-md text-primary">
        <thead>
          <th>Asset Tag Id</th>
          <th>Asset Name</th>
          <th>Brand Name</th>
          <th>Model No.</th>
          <th>Serail No.</th>
          <th>Send Qty</th>
          <th>Received Qty</th>
          <th>Type</th>
        </thead>
        <tbody>
          <tr *ngFor="let assetDetail of gatePassData.assetGatePassDetail">
            <td>{{ assetDetail.asset.assetTagId}}</td>
            <td>{{ assetDetail.asset.assetName}}</td>
            <td>{{ assetDetail.asset.assetDetail[0].brandName}}</td>
            <td>{{ assetDetail.asset.assetDetail[0].modelNumber}}</td>
            <td>{{ assetDetail.asset.assetDetail[0].serialNumber}}</td>
            <td>{{ (assetDetail.sendQty === undefined) ? "" : assetDetail.sendQty }} {{ (assetDetail.sendQty ===
                undefined) ? "" : assetDetail.sendQtyUnit.unit }} </td>
            <td>{{ (assetDetail.receivedQty === undefined) ? "" : assetDetail.receivedQty }} {{
                (assetDetail.receivedQty === undefined) ? "" : assetDetail.sendQtyUnit.unit}}</td>
            <td>{{ assetDetail.assetType.typeName}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row" *ngIf="isPDFDownload" style="margin-top: 150px">
    <div class="col-4">
      <div class="card">
        <div class="card-body text-primary text-center">
          <hr />
          <p>Prepared By</p>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card">
        <div class="card-body text-primary text-center">
          <hr />
          <p>Received By</p>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card">
        <div class="card-body text-primary text-center">
          <hr />
          <p>Approved By</p>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #template>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Approve / Reject Gate Pass</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <form name="approveRejectForm" #approveRejectForm="ngForm">
                  <div class="row">
            <div class="col form-group"  [class.was-validated]="approverejectcomment.errors?.required  && approverejectcomment.touched">
                <label for="approverejectcomment" class="col-form-label font-weight-bold mb-2">Comment / Reason :</label>
                <textarea id="approverejectcomment" name="approverejectcomment"               
                 [(ngModel)]="gatePassData.comment" required
                #approverejectcomment ="ngModel" class="form-control" rows="4" placeholder="Enter Comment for Approve/Reject" ></textarea>                   
                <span class="invalid-feedback" *ngIf="approverejectcomment.errors?.required && approverejectcomment.touched">
                       Comment/Reason is required.
                      </span>
               
            </div>
        </div>
        <div class="row mt-2">
            <div class="col form-group text-right">
                <button type="button" (click) = "UpdateGatePassStatus(gatePassData.id,gatePassStatus)"
                [disabled]="!approveRejectForm.form.valid"
                 [ngClass]="!approveRejectForm.form.valid ? 'btn-disabled' : 'btn-primary'"
                 class="btn btn-sm mr-2" style="width: 6.3rem"><i
                    class="fa fa-close fa-fw"></i>&nbsp;OK</button>
                <button type="buton" (click) = "modalRef.hide()"
                [disabled]="!approveRejectForm.form.valid"
                 [ngClass]="!approveRejectForm.form.valid ? 'btn-disabled' : 'btn-primary'"
                class="btn btn-sm"><i
                    class="fa fa-save fa-fw"></i>&nbsp;Cancel</button>
            </div>
        </div>
      </form>
    </div>
  </ng-template>
</div>