.imageClass{
    width:100px;
    height:100px;
  }
  .card{
    border: none;
  }
  .card-title {
     margin-bottom: .35rem; 
}

  .card-body {
    padding: 0.2rem;
  }
  .card-header {
    padding: .20rem 0.35rem;
    margin-bottom: 0px;
    font-size:1rem;
    font-weight: 400;
  }
  .card-footer {
    padding: 0.1rem 0.1rem;
    margin-bottom: 0px;
  }

  .form-group {
    margin-bottom: 0.1rem;
  }

  .text-primary {
    color: #7a7b7e!important;
  }

  .btn-primary {
    color: #fff;
    background-color: rgba(73, 68, 68, 0.705);
    border-color: rgba(73, 68, 68, 0.705);
    font-size: 1rem
  }
  
  
  
  .btn-sm{
    padding: 0.0rem 0.10rem;
    width: 6rem;
    height: 1.9rem;
  
  }
  .modal-width {
  width: 800px;
  }
  
  .table td {  
    border-bottom: 1px solid #dee2e6;
    font-weight: 400;
    font-size: .8rem;
    padding: .55rem;
  }
  
  .table th {  
    border-bottom: 1px solid #dee2e6;
    font-weight: 600;
    font-size: .9rem;
    padding: .25rem;
  }
  
  
  