<div class="container mt-4">
    <div class="row text-center mb-4">
        <div class="col-3">
            <div class="card text-white bg-success card-tile">
                <div class="card-body">
                        <h5>
                                <p class="card-text text-center">Total Gate Pass</p>
                            </h5>
                    <h3 class="card-title text-center">
                        {{dashBoard.approveGatePass + dashBoard.rejectGatepass + dashBoard.pendingGatePass}}</h3>
                   
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card text-white bg-success card-tile">
                <div class="card-body">
                    <h5>
                        <p class="card-text text-center">Approved</p>
                    </h5>
                    <h3 class="card-title text-center">{{dashBoard.approveGatePass}}</h3>

                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card text-white bg-success card-tile">
                <div class="card-body">
                        <h5>
                                <p class="card-text text-center">Reject</p>
                            </h5>
                    <h3 class="card-title text-center">{{dashBoard.rejectGatepass}}</h3>
                   
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card text-white bg-success card-tile">
                <div class="card-body">
                        <h5>
                                <p class="card-text text-center">Pending</p>
                            </h5>
                    <h3 class="card-title text-center">{{dashBoard.pendingGatePass}}</h3>
                   
                </div>
            </div>
        </div>
    </div>


    <div class="row text-center">
        <div class="col-4">
            <div class="card bg-light  card-tile-request mb-3">
                <div class="card-header  text-white text-left">Recent Approved Request</div>
                <div class="card-body">
                    <table class="table table-bordered table-sm">
                        <thead>
                            <th>#</th>
                            <th>Gate Pass No</th>
                        </thead>
                        <tbody *ngIf="dashBoard.approveGatePassList && dashBoard.approveGatePassList.length>0">
                            <tr *ngFor="let gatePass of dashBoard.approveGatePassList;let i = index">
                                <td>{{ i+1 }}.</td>
                                <td><a class="gatePass" href="#"
                                        (click)="ViewGatePassData(gatePass.id)">{{gatePass.gatePassNo}}</a></td>
                            </tr>
                        </tbody>
                        <tbody *ngIf="dashBoard.approveGatePassList && dashBoard.approveGatePassList.length==0">
                            <tr>
                                <td colspan="2">No data available.</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
        <div class="col-4">
            <div class="card bg-light  card-tile-request  mb-3">
                <div class="card-header text-white text-left">Recent Pending Request</div>
                <div class="card-body">
                    <table class="table table-bordered table-sm">
                        <thead>
                            <th>#</th>
                            <th>Gate Pass No</th>
                        </thead>
                        <tbody *ngIf="dashBoard.pendingGatePassList && dashBoard.pendingGatePassList.length>0">
                            <tr *ngFor="let gatePass of dashBoard.pendingGatePassList;let i = index">
                                <td>{{ i+1 }}.</td>
                                <td><a class="gatePass" href="#" (click)="ViewGatePassData(gatePass.id)">
                                        {{gatePass.gatePassNo}}</a></td>
                            </tr>
                        </tbody>
                        <tbody *ngIf="dashBoard.pendingGatePassList && dashBoard.pendingGatePassList.length==0">
                            <tr>
                                <td colspan="2">No data available.</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
        <div class="col-4">
            <div class="card bg-light  card-tile-request  mb-3">
                <div class="card-header  text-white text-left">Recent Reject Request</div>
                <div class="card-body">
                    <table class="table table-bordered table-sm">
                        <thead>
                            <th>#</th>
                            <th>Gate Pass No</th>
                        </thead>
                        <tbody *ngIf="dashBoard.rejectGatepassList && dashBoard.rejectGatepassList.length>0">
                            <tr *ngFor="let gatePass of dashBoard.rejectGatepassList;let i = index">
                                <td>{{ i+1 }}.</td>
                                <td><a class="gatePass" href="#" (click)="ViewGatePassData(gatePass.id)">
                                        {{gatePass.gatePassNo}}</a></td>
                            </tr>
                        </tbody>
                        <tbody *ngIf="dashBoard.rejectGatepassList && dashBoard.rejectGatepassList.length==0">
                            <tr>
                                <td colspan="2">No data available.</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>