.card-tile{
    max-width: 18rem;
    height: 7rem;
    width: 15rem
}

.card-tile-request{
    height: 18rem;
}
.card-header {
    padding: .20rem 0.35rem;
    margin-bottom: 0px;
    font-size:1rem;
    font-weight: 600;
    background-color: #687c85!important
  }