    <div class="container">
        <div class="card">
            <div class="card-header h4 text-white bg-primary">
                <i class="fa fa-users fa-fw"></i>&nbsp; User List
            </div>
            <div class="card-body border border-primary">
                <table class="table table-bordered table-md text-primary">
                    <thead>
                      <th >Name</th>
                      <th>Emp Id</th>
                      <th>Phone</th>
                      <th>Email</th>
                      <th>Department</th>
                      <th>Role</th>
                      <th></th>
                    </thead>
                  <tbody>
                    <tr>
                      <td>Mr. Vishal Tyagi</td>
                      <td>1234456</td>
                      <td>98998100</td>
                      <td>abc@abc.com</td>
                      <td>Finance</td>
                      <td>Super Admin</td>
                      <td class="text-center"> <a href="#"><i class="fa fa-pencil-square-o fa-fw"></i></a> |
                        <a href="#"><i class="fa fa-trash-o fa-fw"></i></a></td>


                    </tr>
                  </tbody>
                </table>

            </div>

        </div>
    </div>

