<p>
  search-role works!
</p>
<p>
  search-role works!  search-role works!
  search-role works!
  search-role works!
  search-role works!  search-role works!
  search-role works!
  search-role works!
  search-role works!  search-role works!
  search-role works!
  search-role works!
  search-role works!  search-role works!
  search-role works!
  search-role works!
  search-role works!
  search-role works!
  search-role works!
  search-role works!
</p>
<p>
  search-role works!
</p>
<p>
  search-role works!
</p>
<p>
  search-role works!
</p>
